<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    
    <link rel="stylesheet" href="/stylesheets/styling.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/canvas.js"></script>
    
    <script src="https://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />


    
</head>

<body>
    <div class="container-fluid chart" >
        <center>
        <div class='col-sm-6'><center><div id="chart-container" class="center">Data Distribution</div></center></canvas></div>
        <div class='col-sm-6'><div id="chartContainer" style="height: 500px; width: 100%;"></div></div>
        </center>
    </div>
    
    

    <div class="pics" id = "pics_id">
        
    </div>


    </div> 
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="/javascripts/handler.js"></script>
</body>

</html>